@import "compass/css3";

html,body {
	margin: 0;
	padding: 0;
}

div.nav {

	div.date {
		float:left;
		padding-top: 33px;
		padding-left: 40px;
		color: #999;
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
		font-size: 12px;
	}

	ul {
		float: right;
		padding-top: 15px;

		li {
			list-style-type: none;
			display: inline;
			padding-right: 15px;
			font-size: 12px;
			font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
			color: #336ba8;
		}
		
		li:last-child {
			padding-right: 60px;
			color: #2cafe0;
		}
	}
}

div.clear {
	clear: both;
}

div.main {
	img {
		text-align: center;
		margin: 0 auto;
		display: block;
		padding-top: 20px;
	}
	h1 {
		color:#232323;
		text-align: center;
		font-weight: 500;
		font-size: 58px;
		letter-spacing: -2px;
		line-height: 1.0em;
		margin-bottom: 20px;
		font-family: 'Crimson Text', serif;
		margin-top: 10px;
	}
	h6 {
		font-size: 20px;
		font-weight: 500;
		margin: 10px 0;
		font-family: 'Crimson Text', serif;
		text-align: center;
		display: block;
		line-height: 1.5em;
	}
}

div.box {
	width: 160px;
	margin: 15px 20px 20px;
	border: 1px solid #E8E8E8;
	border-radius: 5px;
	box-shadow: 0 0 5px #EFEFEF;
	padding: 20px 10px 10px;
	text-decoration: none;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#EFEFEF));
	text-align:center;
	display:inline-block;

	h2 {
		font-size: 21px;
		margin: 3px 0 0 10px;
		color: #369;
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
		font-weight: bold;

	}
	h3 {
		margin: 5px 0 10px;
		font-size: 14px;
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
		color: #C00;
	}
	h4 {
		color: #222;
		font-size: 14px;
		line-height: 1.4em;
		margin-top: 5px;
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	}
}

.center {
	text-align:center;
}

.padding-20 {
	padding: 20px;
}

div.customers {
	width: 821px;
	margin: 0 auto;
	position: relative;

	h2 {
		color:#232323;
		text-align: center;
		font-size: 48px;
		font-family: 'Crimson Text', serif;
		margin: 0px 0px 30px;
		font-weight: 500;
		font-style: normal;
		line-height: 1.1em;
		letter-spacing: -1px;
	}
	div.meet {
		background: url("http://37signals.com/images/img-customers.png") no-repeat;
		height: 105px;
		width: 200px;
		position: absolute;
		top: 53px;
		left: -134px;
		margin: 10px 0 30px;
		font-family: "CrimsonRoman", "Times New Roman", Georgia, serif;
		text-align:center;
	}
	p {
		text-align: left;
		font-weight: 400px;
		font-size: 22px;
		line-height: 1.3em;
		color: #666;

	}

	img {
		clear:both;
	}
}
div.manifesto {
		margin: 0 auto 30px;
		width: 820px;
		padding: 0;
		
	h2{
		color: #232323;
		margin: 30px 0;
		font-size: 48px;
		font-weight: 500;
		font-style: normal;
		line-height: 1.1em;
		letter-spacing: -1px;
		text-align:center;
	}
		
	div.column {
		width: 380px;
		float: left;
		display:block;
		text-align:center;
		padding-bottom:20px;
	}
	div.point.top {
		margin-top:0;
	}
	div.point.bottom {
		margin-bottom:0;
	}
	div.point {
		text-align: left;
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
		line-height: 1.4em;
		font-size: 12px;
		text-align:left;
		margin: 20px 0;

	}
	h3{
		float: left;
		font-size: 58px;
		font-weight: 500;
		line-height: normal;
		margin: -10px 15px 0 0;
		color: #CCC;
		display:block;
	}
	h4 {
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
		font-size: 16px;
		margin: 5px 0;
		color: #C00;
		display:block;
	}
	div.point p {
		margin: 0 0 0 45px;
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	}
	div.column.next {
		margin-right: 0;
		float:right;
	}
}
div.book {
	display:block;
	text-align:center;
	width: 820px;
	margin: 0 auto;

	div.read {
			position: relative;

		h2{
			color: #232323;
			margin: 30px 0;
			font-size: 48px;
			font-weight: 500;
			font-style: normal;
			line-height: 1.1em;
			letter-spacing: -1px;
			text-align:center;
			font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
		}
	
		img {
			position: absolute;
			right: -90px;
			top: 80px;
		}
	}
}