html, body {
  margin: 0;
  padding: 0;
}

div.nav div.date {
  float: left;
  padding-top: 33px;
  padding-left: 40px;
  color: #999;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 12px;
}
div.nav ul {
  float: right;
  padding-top: 15px;
}
div.nav ul li {
  list-style-type: none;
  display: inline;
  padding-right: 15px;
  font-size: 12px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #336ba8;
}
div.nav ul li:last-child {
  padding-right: 60px;
  color: #2cafe0;
}

div.clear {
  clear: both;
}

div.main img {
  text-align: center;
  margin: 0 auto;
  display: block;
  padding-top: 20px;
}
div.main h1 {
  color: #232323;
  text-align: center;
  font-weight: 500;
  font-size: 58px;
  letter-spacing: -2px;
  line-height: 1.0em;
  margin-bottom: 20px;
  font-family: 'Crimson Text', serif;
  margin-top: 10px;
}
div.main h6 {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
  font-family: 'Crimson Text', serif;
  text-align: center;
  display: block;
  line-height: 1.5em;
}

div.box {
  width: 160px;
  margin: 15px 20px 20px;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  box-shadow: 0 0 5px #EFEFEF;
  padding: 20px 10px 10px;
  text-decoration: none;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#efefef));
  text-align: center;
  display: inline-block;
}
div.box h2 {
  font-size: 21px;
  margin: 3px 0 0 10px;
  color: #369;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-weight: bold;
}
div.box h3 {
  margin: 5px 0 10px;
  font-size: 14px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #C00;
}
div.box h4 {
  color: #222;
  font-size: 14px;
  line-height: 1.4em;
  margin-top: 5px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.center {
  text-align: center;
}

.padding-20 {
  padding: 20px;
}

div.customers {
  width: 821px;
  margin: 0 auto;
  position: relative;
}
div.customers h2 {
  color: #232323;
  text-align: center;
  font-size: 48px;
  font-family: 'Crimson Text', serif;
  margin: 0px 0px 30px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1em;
  letter-spacing: -1px;
}
div.customers div.meet {
  background: url("http://37signals.com/images/img-customers.png") no-repeat;
  height: 105px;
  width: 200px;
  position: absolute;
  top: 53px;
  left: -134px;
  margin: 10px 0 30px;
  font-family: "CrimsonRoman", "Times New Roman", Georgia, serif;
  text-align: center;
}
div.customers p {
  text-align: left;
  font-weight: 400px;
  font-size: 22px;
  line-height: 1.3em;
  color: #666;
}
div.customers img#one {
  clear: both;
}
div.customers img#two {
  position: absolute;
  top: 120px;
  left: 0px;
}

div.manifesto {
  margin: 0 auto 30px;
  width: 820px;
  padding: 0;
}
div.manifesto h2 {
  color: #232323;
  margin: 30px 0;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1em;
  letter-spacing: -1px;
  text-align: center;
}
div.manifesto div.column {
  width: 380px;
  float: left;
  display: block;
  text-align: center;
  padding-bottom: 20px;
}
div.manifesto div.point.top {
  margin-top: 0;
}
div.manifesto div.point.bottom {
  margin-bottom: 0;
}
div.manifesto div.point {
  text-align: left;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  line-height: 1.4em;
  font-size: 12px;
  text-align: left;
  margin: 20px 0;
}
div.manifesto h3 {
  float: left;
  font-size: 58px;
  font-weight: 500;
  line-height: normal;
  margin: -10px 15px 0 0;
  color: #CCC;
  display: block;
}
div.manifesto h4 {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 16px;
  margin: 5px 0;
  color: #C00;
  display: block;
}
div.manifesto div.point p {
  margin: 0 0 0 45px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
div.manifesto div.point p a {
  color: #369;
  text-decoration: none;
}
div.manifesto div.column.next {
  margin-right: 0;
  float: right;
}

div.book {
  display: block;
  text-align: center;
  width: 820px;
  margin: 0 auto;
}
div.book div.read {
  position: relative;
}
div.book div.read h2 {
  color: #232323;
  margin: 30px 0;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1em;
  letter-spacing: -1px;
  text-align: center;
  font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
}
div.book div.read img.paper {
  position: absolute;
  right: -130px;
  top: 75px;
}
div.book div.read img.check {
  position: absolute;
  right: 0px;
  top: 130px;
}
div.book div.review {
  display: block;
  width: 532px;
  text-align: center;
  margin-left: 250px;
  margin-top: 80px;
  position: relative;
  margin-bottom: 100px;
}
div.book div.review p {
  font-style: italic;
  color: #888;
  font-size: 22px;
}
div.book div.review img {
  position: absolute;
  left: -300px;
}
div.book div.review span {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 12px;
  margin: 0;
}

div.offer h2 {
  color: #232323;
  margin: 30px 0;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1em;
  letter-spacing: -1px;
  text-align: center;
  font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
}
div.offer .white-box {
  vertical-align: top;
  width: 160px;
  margin: 15px 20px 20px;
  padding: 20px 10px 10px;
  text-decoration: none;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  text-align: center;
  display: inline-block;
}
div.offer .white-box h2 {
  font-size: 21px;
  margin: 3px 0 0 10px;
  color: #369;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-weight: bold;
}
div.offer .white-box h3 {
  margin: 5px 0 10px;
  font-size: 14px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #C00;
}
div.offer .white-box h4 {
  color: #222;
  font-size: 14px;
  line-height: 1.4em;
  margin-top: 5px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

div.services {
  width: 820px;
  margin: 0 auto;
}
div.services .column {
  width: 380px;
  float: left;
  display: block;
  text-align: center;
  padding-bottom: 20px;
}
div.services .column h3 {
  margin: 5px auto;
  width: 300px;
  font-size: 14px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #C00;
  font-weight: bold;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 5px;
}
div.services .column ul {
  margin-bottom: 15px;
}
div.services .column ul li {
  list-style-type: none;
  font-size: 22px;
  font-weight: 500;
  color: #222;
  line-height: 150%;
  padding: 0 0 8px;
  font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
}
div.services .column ul li small {
  color: #666;
  font-size: 12px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  display: block;
  font-weight: normal;
}

ul.footer {
  text-align: center;
  margin: 0;
  padding: 0;
}
ul.footer li {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  font-size: 12px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #369;
}

.red {
  color: #C00;
  font-size: 14px;
  font-weight: bold;
}

.endfooter {
  font-size: 10px;
  color: #999;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  margin-top: 50px;
  text-align: center;
  display: block;
  padding-bottom: 50px;
}
.endfooter a {
  color: #369;
  text-decoration: none;
}
